/* ✅ External imports must come first */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add this line at the top */


/* src/index.css or src/App.css */

#providers-map,
.leaflet-container {
  z-index: 10 !important;
  /* lower than Tailwind's z-50 (z-index: 200) */
}

.leaflet-pane,
.leaflet-tile-pane,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-tooltip-pane,
.leaflet-popup-pane {
  z-index: 10 !important;
}

body {
  @apply bg-white text-black transition-colors duration-300;
}

.dark body {
  @apply bg-gray-900 text-white;
}

/* autofill dark mode overrides */
.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover, 
.dark input:-webkit-autofill:focus, 
.dark input:-webkit-autofill:active {
  -webkit-text-fill-color: #ffffff !important;
  -webkit-box-shadow: 0 0 0px 1000px #030712 inset !important;
  box-shadow: 0 0 0px 1000px #030712 inset !important;
  transition: background-color 5000s ease-in-out 0s;
}